* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    /* 页面顺滑的滚动 */
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

/* 定义变量 */
:root {
    --bg-color: #081b29;
    --second-bg-color: #112142;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    cursor: url(../BreezeContrast/Arrow.cur), default;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    z-index: 999;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 0.25rem;
    cursor: url(../BreezeContrast/Hand2.cur), default;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
    cursor: url(../BreezeContrast/Hand2.cur), default;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: url(../BreezeContrast/Hand2.cur), default;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(../images/backimg-home.webp) no-repeat center;
    background-size: cover;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: hsl(219, 89%, 30%);
    backdrop-filter: blur(10px);
    opacity: 0.6;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    /* 字体边框宽度和颜色 */
    -webkit-text-stroke: 0.7px var(--main-color);
}

.home-content p {
    font-size: 4.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    cursor: url(../BreezeContrast/Hand2.cur),
        default;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background-color: var(--main-color);
}

.btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: 0.3s;
}

.btn-box .btn:hover:before {
    width: 100%;
}

.home-sci {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 4rem;
    width: 170px;
}

.home-sci span,
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
    cursor: url(../BreezeContrast/Hand2.cur),
        default;
}

.home-sci span:hover,
.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci span::before,
.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: 0.3s;
}

.home-sci span:hover::before,
.home-sci a:hover::before {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
    background: url(../images/backimg-about.webp) no-repeat center;
    background-size: cover;
    transition: 0.5s;
    animation: rotateColor 10s linear infinite;
}

@keyframes rotateColor {
    100% {
        filter: hue-rotate(360deg);
    }
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--second-bg-color);
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-flex;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}


/* 旋转魔方 */

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spinner-container {
    padding: 20px;
    cursor: url(../BreezeContrast/Hand2.cur), default;
}

.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: rgba(0, 77, 255, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #4400ff;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

/* 弹出框 */
.pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    min-width: 40%;
    min-height: 60%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 10;
    overflow: hidden;
    transition: all 0.5s;
}

@keyframes show-pop-up {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes show-pop-down {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}



.pop-up::before {
    content: '';
    position: absolute;
    width: 200px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 180%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pop-up::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255);
    inset: 5px;
    border-radius: 15px;
}


.pop-up:hover {
    border-color: #008bf8;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.pop-up h3 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    color: var(--second-bg-color);
    z-index: 1;
}

.pop-up i {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: url(../BreezeContrast/Hand2.cur), default;
    overflow: hidden;
    z-index: 1;
}

.pop-up i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: gray;
    z-index: -1;
    transition: all 0.3s;
}

.pop-up i:hover::after {
    width: 100%;
    height: 100%;
}

.pop-up i:active::after {
    width: 0%;
    height: 0%;
}

.pop-up div {
    width: 50%;
    height: 50%;
    z-index: 1;
}

.pop-up div img {
    height: 100%;
    width: 100%;
}

/* From Uiverse.io by Dennyhml */
/* 泡泡 */

.bubbles {
    position: absolute;
    top: 150px;
    left: 200px;
}

.bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
}

.bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
}

.bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
}

.bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
}

@keyframes animate_4010 {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}

.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
}

.bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
}

.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
}

.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}

/* 预加载 */
@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes counter-clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.gearbox {
    background: #111;
    height: 150px;
    width: 200px;
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.gearbox .overlay {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: inset 0px 0px 20px black;
    transition: background 0.2s;
}

.gearbox .overlay {
    background: transparent;
}

.gear {
    position: absolute;
    height: 60px;
    width: 60px;
    box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
    border-radius: 30px;
}

.gear.large {
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.gear.large:after {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    margin-left: -48px;
    margin-top: -48px;
}

.gear.one {
    top: 12px;
    left: 10px;
}

.gear.two {
    top: 61px;
    left: 60px;
}

.gear.three {
    top: 110px;
    left: 10px;
}

.gear.four {
    top: 13px;
    left: 128px;
}

.gear:after {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background: #111;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
}

.gear-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #555;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.large .gear-inner {
    border-radius: 60px;
}

.gear.one .gear-inner {
    animation: counter-clockwise 3s infinite linear;
}

.gear.two .gear-inner {
    animation: clockwise 3s infinite linear;
}

.gear.three .gear-inner {
    animation: counter-clockwise 3s infinite linear;
}

.gear.four .gear-inner {
    animation: counter-clockwise 6s infinite linear;
}

.gear-inner .bar {
    background: #555;
    height: 16px;
    width: 76px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -8px;
    border-radius: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.large .gear-inner .bar {
    margin-left: -68px;
    width: 136px;
}

.gear-inner .bar:nth-child(2) {
    transform: rotate(60deg);
}

.gear-inner .bar:nth-child(3) {
    transform: rotate(120deg);
}

.gear-inner .bar:nth-child(4) {
    transform: rotate(90deg);
}

.gear-inner .bar:nth-child(5) {
    transform: rotate(30deg);
}

.gear-inner .bar:nth-child(6) {
    transform: rotate(150deg);
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load div h2 {
    font-size: 2rem;
    color: transparent;
    margin-top: 1rem;
    font-weight: 600;
    -webkit-text-stroke: 0.7px black;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    inset: 100px 200px 80px 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

.box {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    border: 5px solid #fff;
}

.box:nth-child(1),
.box:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
}

.box:nth-child(3) {
    left: calc(50% + 240px);
}

.box:nth-child(4) {
    left: calc(50% + 500px);
}

.box:nth-child(5) {
    left: calc(50% + 760px);
}

.box:nth-child(6) {
    left: calc(50% + 1020px);
    opacity: 0;
}

.buttons {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}

.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}